SYSTEM REQUIREMENTS:
PHP 8.2
XAMPP (Make sure to select xampp with php 8.2 version)
   - if you have newly installed xampp, make sure to uncomment the following in php.ini (not php.ini-development), just remove the semi-colon (;) to uncomment:
	- extension=fileinfo
	- extension=msqli
	- extension=pdo_mysql

FRESH SYSTEM
- composer install

- npm install

- php artisan migrate
  - (if no database created, this will ask you to create a database named 'sdnhs_hris', just type yes to create database.)

- php artisan db:seed
  - this will create a default user:
      email: sdnhs.lopez.floramie@gmail.com
      password: 12345678

- php artisan storage:link

- npm run build
  - run this command only once. (This will compile all the front-end codes for optimization)

- php artisan serve --host=ip_address
    - (change the ip_address with the ip address of the computer, to make the system available to all computers connected to the same wifi)
    - OR you can just double click the system.bat (a file named 'system' inside the root directory next to README)

- npm run start-artisan




